.auto-textarea {
  width: 100%;
  resize: none;
  height: 59px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #4671ea;
  /* border: 1px solid #bfbfbf; */
}

.auto-textarea::placeholder {
  color: #b3b3b3;
}
.auto-textarea:is(:focus, :valid) {
  /* padding: 14px;
  border: 2px solid #4671ea; */
}
.auto-textarea::-webkit-scrollbar {
  width: 0px;
}
